.FaceElite_return span {
	font-size: 1.3em;
	color: #979797;
}
.FaceElite_return {
	width: 98%;
	min-width: 1024px;
	margin-top: 2%;
	margin-left: 2%;
}
.FaceElite_content{
	width: 90%;
	min-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 50px;
	margin-left: 5%;
}
/*左边内容*/
.FaceElite_content_left{
	width: 70%;
	float: left;
}
.FaceElite_content_left_title{
	font-size: 2em;
	margin-bottom: 20px;
}
.FaceElite_content_left_tips{
	color: #666666;
	font-size: 1.2em;
	padding: 10px 0;
	border-top: 1px solid black;
}
.FaceElite_content_left_text{
	color: black;
	font-size: 1.3em;
	line-height: 40px;
	margin-top: 20px;
}
.FaceElite_content_left_img{
	width: 100%;
}
.FaceElite_content_left_img img{
	width: 100%;
}
/*右边内容*/
.FaceElite_content_right{
	width: 30%;
	float: left;
	margin-top: 100px;
}
.FaceElite_content_right_img{
	width: 70%;	
	margin-left: 3%;
}
.FaceElite_content_right_img img{
	width: 100%;
}
.FaceElite_content_right_list{
	padding-left: 7%;
	list-style: none;
	line-height: 40px;
	font-size: 1.4em;
}
.FaceElite_content_right_list li{
	color: black;
}