.MobileInter_return span {
	font-size: 20px;
	color: #979797;
}
.MobileInter_return {
	width: 98%;
	min-width: 1024px;
	margin-top: 2%;
	margin-left: 2%;
}
.MobileInter_content{
	width: 90%;
	min-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 3%;
	margin-bottom: 150px;
}
/*左边内容*/
.MobileInter_content_left{
	width: 70%;
	float: left;
}
.MobileInter_content_left>h1{
	font-size: 2.5em;
}
.MobileInter_content_left_time{
	width: 80%;
	font-size: 18px;
	border-bottom: 1px solid black;
	margin: 20px 0;
	padding-bottom: 10px;
}
.MobileInter_content_left_tips{
	width: 70%;
	font-size: 18px;
	margin: 30px 0;
}
.MobileInter_content_left_text{
	font-size: 1em;
	padding: 30px 0;
	line-height: 60px;
}
.MobileInter_content_left_text>span{
	font-size: 1.4em;
	font-weight: bold;
}
.MobileInter_content_left_img{
	width: 100%;
}
.MobileInter_content_left_img img{
	width: 100%;
}
.MobileInter_content_left_collect{
	width: 100%;
	background-color: #f1f1f1;
	padding: 2% 0;
	overflow: hidden;
}
.MobileInter_content_left_collect>span{
	float: left;
	font-size: 20px;
	color: #808080;
}
/*右边内容*/
.MobileInter_content_right{
	width: 28%;
	float: right;
	margin-top: 100px;
	margin-left: 2%;	
}
.MobileInter_content_right_img{
	width: 60%;
}
.MobileInter_content_right_img img{
	width: 100%;
}
.MobileInter_content_right_list{
	padding: 30px 0;
	padding-left: 2%;
	line-height: 30px;
	font-size: 1em;
}
.MobileInter_content_right_list li{
	color: black;
}
